@import "./header.css";
@import "./fondoPortada.css";
@import "./footer.css";

body {
    margin: 0;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}    
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: #FAAB05   ;
    font-family: 'Kanit', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Kanit',sans-serif;
}
li{
    list-style: none;
}


#quienes-somos{
    padding-top: 100px;
    padding-bottom: 100px;

}

.contenedor-quienes-somos{
    width: 90%;
    height: 600px;
    display: flex;
    max-width: 1320px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    }

/* .contenedor-quienes-somos .quienes-somos-texto,
.contenedor-quienes-somos .quienes-somos-imagen{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.contenedor-quienes-somos .quienes-somos-texto{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

/*Seccion  Footer */
/* footer{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    border-top: 1px solid rgba(255,255, 255, 0.25);
    text-align: center;
    height: 300px;
    background-color: #010506;
}
footer hr{
    
    margin: 1px;
    
}
.icons-footer ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icons-footer  svg{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 14px;
    transition: all 100ms;
}
.icons-footer a svg:hover{
    opacity: 0.5;
    transform: scale(1.1);
} */