@import "./header.css";
@import "./fondoPortada.css";
@import "./footer.css";

body {
    margin: 0;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}    
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: #FAAB05   ;
    font-family: 'Kanit', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Kanit',sans-serif;
}
li{
    list-style: none;
}


#quienes-somos{
    padding-top: 100px;
    padding-bottom: 100px;

}

.contenedor-quienes-somos{
    width: 90%;
    
    display: flex;
    max-width: 1320px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}


.contenedor-quienes-somos .quienes-somos-texto{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
}
.contenedor-quienes-somos .quienes-somos-imagen img{
   
    width: 80%;
}
.contenedor-quienes-somos .quienes-somos-imagen {
    display: flex;
    justify-content: center;
    width: 40%;
}


@media screen and (max-width:600px) {
    #quienes-somos{
        padding: 10px 0;
    
    }
    .contenedor-quienes-somos{
        width: 70%;
        flex-direction: column;
        }
    .contenedor-quienes-somos .quienes-somos-imagen{
        width: 100%;
        }
    .contenedor-quienes-somos .quienes-somos-imagen img{
        width: 100%;
        }
    .contenedor-quienes-somos .quienes-somos-texto{
        width: 90%;
        }

}
