@import "./header.css";
@import "./fondoPortada.css";
@import "./footer.css";

body {
    margin: 0;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: #FAAB05   ;
    font-family: 'Kanit', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
h1,h2{
    font-family: 'Kanit',sans-serif;
}
li{
    list-style: none;
}


.container-videos iframe{
    border-radius: 10px;
    background-color: aliceblue;
    transition: all 600ms ;
}

.video-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,390px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.container-videos iframe:hover{
    box-shadow: 1px 1px 20px -5px;
    transform: scale(1.1);
}

@media screen and (max-width:600px){
    .container-videos iframe:hover{
        transform: none;
    }

    .video-grid{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fill,350px);
        gap: 40px;
        padding: 0;
        justify-content: center;
    }
    .container-videos iframe{
        border-radius: 10px;
        width: 100%;
    }
}